.input-box {
  position: relative;
}
.input-box input {
  width: 100%;
}

.tooltip-box {
  position: absolute;
  z-index: 9999;
}
.tooltip-box .tooltip {
  background: #be4b49;
  padding: 10px 10px;
  position: relative;
  border-radius: 5px;
}
.tooltip-box .tooltip::after {
  position: absolute;
  content: "";
  top: 13px;
  right: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #be4b49;
}
.tooltip-box .tooltip.top::after {
  position: absolute;
  content: "";
  top: -6px;
  right: 102px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent #be4b49 transparent;
}
.tooltip-box .tooltip p {
  color: #fff;
  font-weight: 500;
  width: max-content;
}
.email .tooltip-box .tooltip p {
  max-width: 200px !important;
}

.error-icon {
  color: #be4b49;
  position: absolute;
  top: 10px;
  right: 10px;
}
.error-border {
  border: 1px solid #be4b49 !important;
}

.custom-gender {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 15px;
}
.custom-gender select {
  width: 100%;
}
.custom-gender span {
  font-size: 14px;
  color: #606770;
}

.reg-form-select div label {
  width: 100% !important;
}
.reg-form-select div input {
  margin-left: 20px !important;
  cursor: pointer;
}

.reg-form-select .custom_gender {
  margin: 0 !important;
  cursor: auto;
}

.create-post-header input {
  width: 100%;
  padding: 11px 10px;
  margin-left: 11px;
  border-radius: 27px;
  outline: none;
  border: none;
  background: #f0f2f5;
}

.auth-box h4 {
  padding-bottom: 15px;
  text-align: center;
}

.login-page img {
  width: 300px;
  margin: 0 auto;
}
.login-page {
  height: 100%;
}
.login-page .auth-box {
  margin-bottom: 100px;
}

.login-page .login-footer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.login-page .login-footer a {
  font-weight: 400;
}

.registerPage .sign-up-card {
  position: static;
  margin: 0 auto;
  transform: none;
}

.registerPage .logo {
  text-align: center;
}
.registerPage .logo img {
  width: 270px;
}

.fb-body-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.fb-body-wrapper .fb-home-timeline {
  width: 100%;
}

.user-profile-personal-info {
  width: 40%;
}

.fb-profile-body {
  min-height: 300px;
  width: 100%;
  background-color: #f0f2f5;
  padding-top: 25px;
}

.fb-card {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%), 0 0px 0px rgb(0 0 0 / 10%);
  border-radius: 6px;
  margin-bottom: 20px;
}

.user-personal-info h3 {
  font-size: 22px;
  font-family: inherit;
}
.user-personal-info .bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.personal-info-button {
  width: 100%;
  height: 35px;
  cursor: pointer !important;
  border: none;
  background-color: #d8dadf;
  border-radius: 4px;
  font-weight: bold;
}

.personal-info-button:hover {
  background-color: #c1c4ca;
}

.fb-profile-header {
  margin-top: 57px;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%), 0 0px 0px rgb(0 0 0 / 10%);
  position: relative;
}

.personail-details ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.personail-details ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.personail-details ul li img {
  filter: contrast(0.001);
}

.personail-details ul li .bold-text {
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

.personail-details ul li .bold-text:hover {
  text-decoration: underline;
}

.hobbies-list {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  padding: 15px 0;
}
.hobbies-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 50px;
}
.hobbies-list-item:hover {
  background-color: #e7e9f0;
}
.hobbies-list-item img {
  width: 15px;
  height: 15px;
}
.hobbies-list-item span {
  font-weight: 500;
}

.profile-featured {
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile-featured-gallery {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.profile-featured-item {
  margin-bottom: 10px;
  width: 32%;
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.profile-featured-photo {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
  filter: brightness(0.9);
  background-size: cover;
}
.profile-featured-photo:hover {
  filter: brightness(0.7);
  transform: scale(1.1);
  overflow: hidden;
}
.profile-featured-item .featured-count {
  color: #fff;
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-weight: 600;
  font-family: inherit;
  font-size: 14px;
  z-index: 9999;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-header a {
  color: #216fdb;
}

.gallery-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;
}

.gallery-area a {
  height: 105px;
  transition: 0.2s ease;
}
.gallery-area a:hover {
  filter: brightness(0.9);
  transition: 0.2s ease;
}

.gallery-area a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friends-count {
  color: #606770;
}

.profile-friends-item {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.profile-friends-item a {
  width: 31%;
}
.profile-friends-item .friends-card .card-image {
  height: 105px;
}
.profile-friends-item .friends-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.3s ease;
}
.profile-friends-item .friends-card img:hover {
  filter: brightness(0.9);
  transition: 0.3s ease;
}
.profile-friends-item .friends-card .friends-name {
  font-size: 14px;
  font-weight: 600;
  height: 38px;
  color: #4f5157;
}
.profile-friends-item .friends-card .friends-name:hover {
  text-decoration: underline;
}

.profile-action button:last-child {
  background: #216fdb;
  color: white;
}

.profile-action button:nth-child(3) span:first-child {
  filter: invert(100%);
}

.click-update {
  width: 100%;
}

.click-update textarea {
  width: 100%;
  height: 60px;
  border: 1px solid #ced0d4;
  border-radius: 5px;
  font-family: inherit;
  text-align: center;
  outline: none;
  padding: 10px;
  font-size: 15px;
  background-color: #f0f2f5;
}

.click-update textarea:focus {
  border: 1px solid #166fe5;
  background-color: white;
}
.click-update textarea:hover {
  background: #ced0d483;
}
.click-update {
  text-align: right;
  color: #8a8e95;
}
.click-update .click-update-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.click-update .bio-btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.click-update .global-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}





.click-update .bio-status {
  color: #222;
  display: flex;
  align-items: center;
}
.click-update .bio-btn button {
  font-weight: 600;
  background: #f0f2f5;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: inherit;
}
.click-update .bio-btn button:hover {
  background: #d5d9dc;
}


.save-btn{
  background-color: #216fdb !important;
  color: white;
}





