@media (max-width: 1400px) {
  .fb-body-wrapper {
    max-width: 920px;
  }

  .fb-profile-details {
    width: 920px;
}
.fb-profile-menu {
    width: 920px;
}
.user-profile-personal-info {
    width: 72%;
}

.fb-profile-header .fb-cover-photo {
    height: 284px;
}
.fb-profile-details .profile-info .profile-desc h1 {
    font-size: 24px;
}

.profile-action {
    min-width: 377px;
}




}
